*{
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
    gap: 5px;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   position: relative;
}

.row {
    display: flex;
    position: relative;
}

.subcontainer  {
    background-color: rgb(197, 64, 64);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin-right: 45px;
    position: relative;
}

.subcontainer1  {
    background-color: rgb(197, 64, 64);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin-right: 45px;
    position: relative;
}

.subcontainer2  {
    background-color: rgb(197, 64, 64);
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 450px;
    height: 200px;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    justify-content: flex-end;
}

.vertical {
    background-color: rgb(21, 21, 103);
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    left: 400px;
    height: 450px;
    left: 39.2%;
}

.horizontal {
    background-color: rgb(21, 21, 103);
    display: flex;
    width: 700px;
    height: 40px;
    display: flex;
    position: relative;
}

/* Estilos base */
